[nagios]
nagios_url_api=http://{{nagios_server}}/nagios/cgi-bin/statusjson.cgi?query=servicelist&formatoptions=enumerate&details=true&servicestatus=critical+warning

nagios_url_contact=http://{{nagios_server}}/nagios/cgi-bin/objectjson.cgi?query=contact&contactname=

nagios_url_service=http://{{nagios_server}}/nagios/cgi-bin/statusjson.cgi?query=

nagios_server={{nagios_server}}

nagios_username={{nagios_username}}

nagios_password={{nagios_password}}

list_servers={{install_path}}/{{list_servers}}

nagios_scale={{install_path}}/{{nagios_scale}}


[sigma]
namespace={{namespace}}

platform={{platform}}

semaas_endpoint={{semaas_endpoint}}

semaas_endpoint_email={{semaas_endpoint_email}}

semaas_cert={{install_path}}/{{semaas_cert}}

semaas_key={{install_path}}/{{semaas_key}}

interval_check={{interval_check}}

log_registry={{log_registry}}
